.footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 150px;
    padding: 30px 30px 0;
    background-color: #ffffff;
    border-radius: 30px 30px 0 0;
    text-align: start;

    &__menu {
        text-align: start;

        li {
            padding-bottom: 10px;
        }
        a {
            list-style: none;
            outline: none;
        }
    }

    &__tools {
        button {
            margin-bottom: 30px;
        }

        .footer__language {
            display: flex;
            gap: 15px;

            span:first-of-type {
                font-size: 15px;
                font-weight: 700;
                color: #FFA542;
            }

            span:last-of-type {
                font-size: 15px;
                font-weight: 700;
                color: #101010;
            }
        }
    }

    &__social-link {
        display: flex;
        gap: 15px;
        align-items: center;
    }
}