* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  background: unset;
  font-size: 17px;
  max-width: 100%;
}

.page_wrapper {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  text-align: center;
  background-color: #EAEAEA;
}

button {
  border: 0;
}